feat: allow custom service name for `mDNS`

### Description

The mdns protocol **always** uses `_p2p._udp` (see [here](https://github.com/libp2p/rust-libp2p/blob/master/protocols/mdns/src/lib.rs#L50)) as its service name.

We should be able to provide our own service name for mDNS instead.

### Motivation

Multiple protocols on a single node using `libp2p-mdns` will collide due to service name, and have to resolve their collision at application level / other protocol's level (e.g. different gossipsub topic).

It makes most sense to allow a specific service name for the developer, also makes diagnostics with `dns-sd` command much easier.

### Requirements

- Allow service name to be provided from `Config`
- Ensure that service name is well-formed ([RFC6763 section 7](https://datatracker.ietf.org/doc/html/rfc6763#section-7))

### Open questions

_No response_

### Are you planning to do it yourself in a pull request?

Maybe

The hardcoded `_p2p._udp.local` service name is part of the libp2p specs[^1]. 

Still, I agree that it is a realistic use-case that multiple protocols, or even multiple nodes in the same private network, need isolated mDNS discovery.
The default should still be  `_p2p._udp.local`, but we can make it part of the config that a user can overwrite. 

CC @jxs wdyt?


[^1]: https://github.com/libp2p/specs/blob/master/discovery/mdns.md#request

I would like to piggyback this issue with another question as well, is there a way for the user to add their custom TXT records? This would be reaaaallllly useful for my case, if possible 🙏🏻 

Hi, thanks for the ping @elenaf9, this has been discussed before on https://github.com/libp2p/rust-libp2p/issues/2898 and a spec issue was opened https://github.com/libp2p/specs/issues/620 I think this should be discussed at the spec level.

@erhant would the proposal on https://github.com/libp2p/specs/issues/620#issuecomment-2883787541 help solve your use case?
cc @elenaf9 